<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Serif:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
    
    
    
    <title>Coffee Sundays</title>
</head>
<body>
  <img src="/images/try.png" alt="welcome to coffee sundays " id="mobile-image"/>

  <h1 class="today1">Todays Offerings</h1>
  <div class="bsection">
    
  <div class="asection">

<img src="/images/cs.png" alt="welcome to coffee sundays" id="desktop-image"/>

</div>

<div class="asection">

    <div class='drinks'>
      <div class='outline-drinks'>
      <h2>Hairy Coochie Girl</h2>
      <p> Ceremony Coffee Roastery, Housemade Rosemary Caramel Syrup with your choice of milk</p>
      </div>
      <div class='outline-drinks'>
        <h2>Ol-love you</h2>
        <p>Ceremony Coffee Roastery, Taharka Vanilla Bean Ice-Cream with a drizzle of Housemade Lemon Infused Olive Oil </p>
        </div>
      <div class='outline-drinks'>
        <h2>Jam Sesh</h2>
        <p>
          Wight Tea Co. Matcha, Oat-milk, Housemade Strawberry Puree with a drizzle of Honey
        </p>
              
      </div>
      <div class='outline-drinks'>
        <h2>Warm me Up</h2>
        <p>
          Wight Tea Co. Lapsang Souchong Black Tea, Cardomon, Star Anise, Cinnamon, Nutmeg, Cloves, Oat-milk, a Hint of Vanilla
        </p>        
      </div>
    </div>
  </div>


    
   
      <div class="asection">

      <h2>Order Here</h2>
      <div class='formz'>
    <form action="/createOrder" method="POST" name="order" required >
      <span>Name</span><input type = 'text' name="name" required>
      <span>Drink</span>
      <select name="drink" required>
        <option value="  "></option>
        <option value="Hairy Coochie Girl ">Hairy Coochie Girl</option>
        <option value="Ol-love you">Ol-love you</option>
        <option value="Jam Sesh">Jam Sesh</option>
        <option value="Warm me Up">Warm me Up</option>
      </select>




      <span>Milk</span>
      <select name="milk" required>
        <option value="  "></option>
        <option value="whole">Whole</option>
        <option value="Coconut">Coconut</option>
        <option value="oat">Oat</option>
      </select>
      <span>Special Request</span><input type="text" name="requests">
      <input type="submit">
    </form>
      </div>
     
      </div>
  </div>
    <script src="js/script.js"></script>
  
  </div>
   
  </body>
  
</html>