*{
    font-family: 'Old Standard TT', serif;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    
    color: red;

}

h1, ul, li,h2{
    text-align: center;
    list-style-type: none
}